
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
  width: 1250px;
  margin: auto;

}
.container-2{
    width: 1050px;
    margin: auto;
}
.bg{
    background: #f7f9ff;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* font-family: 'Open Sans', sans-serif; */
@font-face {
    font-family: 'monto-h';
    src: url('font/');
    src: url('font/?#iefix') format('embedded-opentype'),
         url('font//Helvetica.woff2') format('woff2'),
         url('font//Helvetica.woff') format('woff'),
         url('font//Helvetica.ttf')  format('truetype'),
         url('font//Helvetica.svg#Helvetica') format('svg');
}
/* ----- main css ------- */


.header-wrap{
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 2;
}
.logo{
    width: 30%;
}
.logo img {
    width: 210px;
    margin-top: 17px;
}
.menu{
    width: 70%;
}
.text-right{}
.text-right ul{}
.text-right ul li{
    display: inline-block;
    
}
.text-right ul li a {
    display: block;
    color: #f7f9ff;
    padding: 0 19px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
}
.text-right ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #c69453;
    position: absolute;
    bottom: -15px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: .6s;
}
.text-right ul li a:hover{
    color: #c69453;
    transition: .4s;
}
.text-right ul li a:hover::after{
    width: 100%;
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}
.text-right ul li a#hove{
    color: #c69453;
}
/* --------- DropDown ----------- */
.text-right ul li{
    position: relative;
}
.text-right ul li ul {
    width: 200px;
    position: absolute;
    top: 100%;
    left: -7px;
    background: #fff;
    text-align: center;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition: .4s;
}
.text-right ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}
.text-right ul li ul li{
    display: block;
}
.text-right ul li ul li a {
    display: block;
    line-height: 43px;
    color: #000;
}
.text-right ul li ul li a:hover::after{
    visibility: hidden;
    opacity: 0;
}
.text-right ul li ul li a:hover{
    background: #c1c0c1;
    color: #c69453;
}
/* ------------------ Banner section start ---------- */
.banner-section {
    background: url(./img/ia_200000019.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0;
    margin-top: -106px;
    position: relative;
    z-index: 1;
}
.banner-section::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner-content{}
.banner-content h1 {
    font-size: 67px;
    font-weight: 700;
    color: #fff;
    font-family: 'Open Sans';
}
.banner-content h2 {
    font-size: 29px;
    color: #fff;
    margin-top: -15px;
    position: relative;
    font-weight: 500;
    font-family: 'monto-h';
}
.banner-content h2::before {
    content: '';
    width: 80px;
    height: 1px;
    position: absolute;
    top: 20px;
    left: 26%;
    background: #c7c7c7;
}
.banner-content h2::after {
    content: '';
    width: 80px;
    height: 1px;
    position: absolute;
    top: 20px;
    right: 26%;
    background: #c7c7c7;
}
.banner-content a.primary-btn {
    padding: 15px 30px;
    display: inline-block;
    background: #c69453;
    color: #fff;
    border-radius: 31px;

    margin-top: 15px;
    font-size: 15px;
}
.banner-content a.primary-btn:hover{
    background: #fff;
    color: #c69453;
    transition: .4s;
}
/* ------------------ Banner section end ---------- */
/* ---------------- table section ---------- */
.table-section{
    padding: 80px 0;
    background: #f8f8f8;
}
.table-content-img {
    width: 23%;
    background: #fff;
    margin-right: 2.5%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 30px;
}
.table-content-img:last-child{
    margin-right: 0;
}
.table-content-text h3 {
    font-size: 15px;
}
.table-content-text p {
    color: #423c3c;
}

.table-content-text a {
    padding: 9px 20px;
    display: inline-block;
    background: #c69453;
    color: #fff;
    border-radius: 5px;
    margin-top: 14px;
    transition: .4s;
}

/* ----------- hover part -------- */
.table-content-img:hover{
    background: #e9e6e5;
    transition: .4s;
    cursor: pointer;
}
.table-content-img:hover .table-content-text a{
    background: #fff;
    color: #c69453;
    transition: .4s;
}
.table-content-img:hover .table-content-text a:hover{
    background: #000;
    color: #fff;
    transform: translateY(5px)
}
.table-content-img img{
    transition: .5s;
}
.table-content-img:hover img{
    transform: rotateY(-360deg);

}
/* ---------- video content ------- */
.video-content{
    padding: 80px 0;
    background: #f8f8f8;
}
.video-content-left{
    width: 44%;
}
.video-content-right{
    width: 52%;
}
.video-content-right summary{
    cursor: pointer;
}
.video-content-right h2 {
    font-size: 43px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1px;
}
.video-content-right h2 span{
    color: #c69453;
}
.video-content-right a {
    padding: 10px 30px;
    background: #000;
    display: inline-block;
    margin-top: 11px;
    color: #fff;
    border-radius: 2px;
    transition: .4s;
}
.video-content-right a:hover{
    background: #c69453;
    
}



/* -------------- */
.contact-section {
    padding: 120px 0;
    background: url(img/ia_200000022.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-top: -60px;
}

.contact-form{
    width: 50%;
}
.contact-form input {
    display: block;
    padding: 17px 10px;
    margin-bottom: 10px;
    width: 90%;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 7px #bebebe57;
}
.contact-form textarea {
    padding: 17px 10px;
    width: 90%;
    height: 145px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 7px #bebebe57;
}
.content-form textarea:focus{

    border: 1px solid #000;
}
.contact-img{
    width: 48%;
}
.input-d{
    display: block;
    width: 100%;
}
.contact-form h3 {
    font-size: 34px;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-bottom: 0;
    margin-top: 0;
}
.contact-form p {
    font-size: 14px;
    font-family: 'monto-h';
    margin: 42px 0;
    display: inline-block;
    line-height: 24px;
    width: 100%;
}
.contact-form a {
    display: inline-block;
    background: #c69453;
    padding: 13px 33px;
    color: #fff;
    margin-top: 17px;
    border-radius: 1px;

}
/* ----------- footer section ------ */
footer {
    padding: 35px 0;
    background: #6d6d6d;
    margin-top: -32px;
    position: relative;
    z-index: 2;
}
.footer-left{
    width: 48%;
}
.footer-right{
    width: 48%;
}
.footer-left p {
    color: #dddddd;
    font-family: 'Open Sans';
}
.icon ul{
    text-align: center;
}
.icon ul li {
    display: inline-block;
    padding: 0 14px;
}
.icon ul li a{
    display: block;
    color: #dddddd;
}








